<div class="top-row navbar navbar-dark justify-content-center">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand m-0" href="">
            <img src="logo_teluq_header.svg" alt="Université TÉLUQ" class="teluq-logo" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-film-joy" aria-hidden="true"></span> Réserver un film
                </NavLink>
            </div>
        </nav>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
